---

---

<nav class="ml-14 mr-15">
  <ul class="flex items-center flex-nowrap gap-9.5 fit-content">
    <li class="flex items-center">
      <img class="w-20 h-20 invert px-1 mr-8" src="/favicon.svg" alt="" />
    </li>
    <li class="text-lg text-white/75 font-semibold">
      <a href="/" class="hover:text-white transition-colors duration-200"
        >Home</a
      >
    </li>
    <li class="text-lg text-white/75 font-semibold">
      <a href="/" class="hover:text-white transition-colors duration-200"
        >About Us</a
      >
    </li>
    <li class="text-lg text-white/75 font-semibold">
      <a href="/" class="hover:text-white transition-colors duration-200"
        >Features</a
      >
    </li>
    <li class="text-lg text-white/75 font-semibold">
      <a href="/" class="hover:text-white transition-colors duration-200"
        >Services</a
      >
    </li>
    <li class="text-lg text-white/75 font-semibold">
      <a href="/" class="hover:text-white transition-colors duration-200"
        >Contact</a
      >
    </li>

    <li class="flex gap-7 items-center ml-auto">
      <div class="text-lg text-white/75 font-semibold">
        <a href="/" class="hover:text-white transition-colors duration-200"
          >Login</a
        >
      </div>
      <div>
        <button
          class="shadow-xl bg-[#064F74] text-white/75 font-semibold px-8 py-2.5 rounded-full hover:scale-105 transition transform duration-200"
        >
          Register
        </button>
      </div>
    </li>
  </ul>
</nav>
