name: Say hello
on:
    push: 
        branches:
            - main
jobs:
    hello_world:
        runs-on: ubuntu-latest
        steps:
            - name: Hello world action step
              run: echo "hello dev!"
            - name: Another step
              run: ls -l
            - name: Display date
              run: date
