name: Say hello


on:
    push:
        branches:
            - main

jobs:
    hello_world:
        runs-on: ubuntu-18.04
        steps:
            - name: Hello world action step
              run: echo "hello dev!"